@keyframes Pulsate {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  to {
    transform: scale(1.1);
    opacity: 0;
  }
}

.about {
  background-color: #0a2850;
  display: flex;
  overflow: hidden;
  position: relative;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0;
}

.about__title {
  display: flex;
  max-width: 251px;
  color: #fff;
  padding: 100px 0 0 80px;
  z-index: 1;
  font-family: "Inter", "Times New Roman", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 0 0 10px;
}

.about__content {
  font-family: "Noto Serif" "Arial", sans-serif;
  font-size: 20px;
  line-height: 30px;
  margin: 119px 80px 173px 0;
  display: flex;
  justify-content: end;
}

.about__paragraph {
  display: flex;
  flex-direction: column;
  color: #fff;
  max-width: 660px;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
}

.about__circle_animation_blurred {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
  animation: Pulsate 1.3s ease-in-out infinite alternate;
  -o-animation: Pulsate 1.3s ease-in-out infinite alternate;
  -webkit-animation: Pulsate 1.3s ease-in-out infinite alternate;
  -moz-animation: Pulsate 1.3s ease-in-out infinite alternate;
  transition: ease-in-out;
}
