.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter", "Arial", sans-serif;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 8px;
  padding: 0;
  margin: 0 auto;
  border-style: none;
  margin: 0 auto;
}

.form__input {
  display: flex;
  width: 385px;
  height: 60px;
  margin: 0 0 32px;
  padding: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 20px;
  line-height: 30px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #838383;
}

.form__label {
  font-weight: 500;
  font-size: 16px;
}

.form__button {
  display: flex;
  background-color: #2f80ed;
  color: #fff;
  width: 385px;
  height: 60px;
  border-style: none;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 32px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  border-style: none;
  line-height: 20px;
}

.form__button:hover {
  opacity: 70%;
  transition: opacity 0.5s;
}

.form__checkbox {
  height: 20px;
  width: 20px;
  border-radius: 2px;
  line-height: 20px;
}
.form__label_type_checkbox {
  display: flex;
  gap: 12px;
  border-radius: 2px;
}
