.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 28px 80px 40px;
  box-sizing: border-box;
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
}

.header__title {
  z-index: 2;
  max-width: 729px;
  font-size: 66px;
  line-height: 76px;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 183px;
}

.header__title_span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__title_span-accent-2 {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__description {
  z-index: 2;
  max-width: 638px;
  font-size: 20px;
  line-height: 30px;
  margin-top: 32px;
  margin-bottom: 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  z-index: 1;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 646px;
  height: 568px;
  right: 205px;
  max-height: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
  top: 124px;
  right: 5px;
}

.header__footer {
  z-index: 2;
  margin: auto 80px 40px 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  line-height: 20px;
  color: #838383;
}
