.menu {
  background-image: url(../images/background_menu.svg);
  background-size: cover;
  background-position: center;
  background-color: #fff;
  padding: 100px 0 0;
  margin: 0 auto 100px;
}

.menu__title {
  max-width: 780px;
  text-align: center;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  padding: 0 0 24px;
  margin: 0 auto;
}

.menu__subtitle {
  max-width: 800px;
  text-align: center;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  word-break: break-all;
  padding: 0 0 100px;
  margin: 0 auto;
}

.menu__cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 100px;
  margin: 0;
  padding-left: 0;
}
