.menu {
  background-image: url(../images/background_menu.svg);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu__title {
  max-width: 780px;
  display: flex;
  margin: 100px 0 24px;
  justify-content: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  max-width: 780px;
  align-content: center;
  display: flex;
  padding: 0;
}

.menu__cards {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: c;
  flex-wrap: wrap;
  width: 350px;
  justify-content: center;
}

.card__title {
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 32px;
}

.card__list_baked-goods {
  display: flex;
  position: relative;
}

.card__list-item {
  display: flex;
  justify-content: center;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.card__list-divider {
  display: flex;
  flex-grow: 1;
  border-bottom: 1px solid black;
}
