.recipes {
  padding: 100px 80px 215px;
  margin: 0 auto;
  background-color: #0a2750;
  background-position: center;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.recipes__title {
  display: flex;
  color: #fff;
  max-width: 580px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 100px 0 24px;
}

.recipes__subtitle {
  display: flex;
  flex-direction: row;
  color: #fff;
  display: flex;
  max-width: 438px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 80px;
}

.recipes__videos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
  gap: 40px;
}

.recipes__iframe {
  margin: 0;
  height: 273px;
  width: 480px;
  border: none;
}

.recipes__videos-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}
