.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", "Times New Roman", sans-serif;
  margin: 0 auto;
  line-height: 20px;
  font-size: 16px;
  accent-color: #2f80ed;
  color: #000000;
  border-color: #838383;
}
.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 28px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
}

.nav__links {
  padding-left: 0;
  display: flex;
  margin: 8px 0 0;
  column-gap: 20px;
  list-style: none;
  font-family: "Inter";
  font-weight: 500;
  line-height: 20px;
  z-index: 2;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.header__title {
  z-index: 2;
  padding-top: 0px;
  max-width: 729px;
  font-size: 66px;
  line-height: 76px;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 128px;
}

.header__title_span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__title_span-accent-2 {
  font-family: "Inter";
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}
.header__description {
  z-index: 2;
  max-width: 638px;
  font-size: 20px;
  line-height: 30px;
  margin-top: 32px;
  margin-bottom: 0;
  font-family: "Noto Serif";

  font-size: 20px;
  line-height: 30px;
}

.header__image {
  padding-top: 124px;
  z-index: 1;
  position: absolute;
  width: 646px;
  height: 568px;
  right: 5px;
}
.header__footer {
  padding-bottom: 40px;
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: "Inter";
  line-height: 20px;
  color: #838383;
}

.recipes {
  display: flex;
  background-color: #0a2750;
  background-position: center;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.recipes__header {
  color: #fff;
  height: 100vh;
}

.recipes__title {
  max-width: 580px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 100px 0px 24px 80px;
}

.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0px 0px 80px 80px;
}

.recipes__iframe {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  margin: 215px 0 0 0;
  height: 273px;
  width: 480px;
  border: none;
}

.recipes__videos-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}
.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-flow: column;
}

.reservation__title {
  display: flex;
  justify-content: center;
  padding: 24px;
  font-family: Inter;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}
.reservation__form_type_text {
  width: 385px;
  height: 60px;
  text-align: left;
  margin-bottom: 32px;
  padding: 0 8px 0;
  border: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.reservation__fieldset {
  display: flex;
  align-items: start;
  gap: 8px;
}
.reservation__form_type_date-local {
  padding: 0 8px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;

  color: #838383;
}

.reservation__fieldset .reservation__form_type_date-local {
  flex-direction: row;
}
.reservation__form_type_button {
  background-color: #2f80ed;
  color: #fff;
  width: 385px;
  height: 60px;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 32px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.reservation__form_type_button:hover {
  opacity: 70%;
  transition: ease-in;
}
.reservation__form_type_checkbox-label {
  display: flex;
  gap: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
